<h1>Edit User</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @user, local: true do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email, placeholder: 'example@example.com' %>
  
  <%= form.label :username %>
  <%= form.text_field :username, required: true %>
  
  <%= form.label :password %>
  <%= form.password_field :password %>
  
  <%= form.submit %>
<% end %>


<%# Rails form_tag (soft deprecated) form %>
<%#= form_tag("/users", method: "post") do %>
  <%#= label_tag(:username, "Username") %>
  <%#= text_field_tag(:username) %>
  <%#= label_tag(:email, "E-mail") %>
  <%#= text_field_tag(:email) %>
  <%#= label_tag(:password, "Password") %>
  <%#= password_field_tag(:password) %>
  <%#= submit_tag("Create New User") %>
<%# end %>

<%# HTML Form Below %>
<%# <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" 
  value="R4quRuXQAq75TyWpSf8AwRyLt-R1uMtPP1dHTTWJE5zbukiaY8poSTXxq3Z7uAjXfPHiKQDsWE1i2_-h0HSktQ" 
  autocomplete="off">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Create New User">
</form> %>