<h1>New User</h1>

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "E-mail") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Create New User") %>

<% end %>

<%# HTML Form Below %>
<%# <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" 
  value="R4quRuXQAq75TyWpSf8AwRyLt-R1uMtPP1dHTTWJE5zbukiaY8poSTXxq3Z7uAjXfPHiKQDsWE1i2_-h0HSktQ" 
  autocomplete="off">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Create New User">
</form> %>